---
import Layout from '../../layouts/Layout.astro';
import Breadcrumb from '../../components/layout/Breadcrumb.astro';
import CompetitionCard from '../../components/CompetitionCardHolographic.astro';
import ULPTrophy from '../../components/ULPTrophy.astro';
import { darkStyles } from '../../utils/all';

import type {
  CompetitionData,
  CompetitionCardData,
} from '../../data/competitions-data.ts';
import {
  Competitions,
  CompetitionsCards,
} from '../../data/competitions-data.ts';
import CompetitionTimePlace from '../../components/CompetitionTimePlace.astro';
import Inscripsection from '../../components/Inscripsection.astro';

// Generate a new path for every collection entry
export async function getStaticPaths() {
  return Competitions.map((compe) => ({
    params: { id: compe.id },
    props: { compe },
  }));
}

const { id } = Astro.params;

const competition: CompetitionData | undefined = Competitions.find(
  (competition) => competition.id === id,
);

const competitionCard: CompetitionCardData | undefined = CompetitionsCards.find(
  (competition) => competition.id === id,
);
---

<Layout description="UGR LAN Party" title={competition?.name}>
  <Breadcrumb>
    <Fragment slot="title">{competition?.name}</Fragment>
  </Breadcrumb>
  <main class="w-full flex flex-col items-center">
    <Inscripsection
      link={competition?.registration}
      img_path={competition?.backgroundImage}
    />
    <section
      class="flex flex-col my-10 mx-10 xl:flex-row justify-center w-full gap-16 items-center"
    >
      {
        competitionCard && (
          <div class="flex flex-col gap-6">
            <CompetitionCard competition={competitionCard} holographic={true} />
            <h4 class="full-effect-text">Carta holográfica interactiva</h4>
          </div>
        )
      }
      {
        competition?.rules && competition.rules !== '' && (
          <div class="flex flex-col gap-6">
            <h3 class="text-center text-3xl font-bold md:leading-[1.44] text-dark dark:text-white md:text-[38px]">
              Normas
            </h3>
            <a
              href={competition?.rules}
              class="inline-flex items-center justify-center py-3 z-10 text-base font-medium text-center text-white border border-primary rounded-md px-7 bg-primary shadow-lg hover:bg-blue-dark hover:border-blue-dark"
            >
              Consultar Reglas y Formato
            </a>
          </div>
        )
      }
      <CompetitionTimePlace
        place={competition?.place ?? []}
        time={competition?.time ?? ''}
      />
    </section>
    <section
      class={`w-full flex flex-col gap-6 items-center bg-gray-1 ${darkStyles}`}
    >
      <h2
        class="text-4xl text-center font-bold text-dark dark:text-white mt-16"
      >
        Premios
      </h2>
      <div class="flex flex-col gap-2">
        <ULPTrophy competition={competition?.id ?? ''} />
        <h4 class="full-effect-text m-0">Mueve y explora el trofeo</h4>
      </div>
      <h4
        class="text-2xl text-dark text-center m-4 font-semibold dark:text-white"
      >
        Proximamente...
      </h4>
    </section>
  </main>
</Layout>

<script src="../../scripts/holoCardsInteraction.js"></script>

<style>
  .full-effect-text {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: rgb(77, 181, 202);
    animation: opacity-pulse 3s ease-in-out infinite;
  }

  @keyframes blue-theme-animation {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }

  @keyframes opacity-pulse {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes blue-shadow-pulse {
    0% {
      text-shadow: 0 0 4px rgba(0, 68, 101, 0.8);
    }
    50% {
      text-shadow: 0 0 18px rgba(38, 158, 188, 1);
    }
    100% {
      text-shadow: 0 0 4px rgba(0, 68, 101, 0.8);
    }
  }
</style>
