---
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";


const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

publishedBlogEntries.sort((a, b) => {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout
  description="Blog de la UGR LAN Party"
  title="Blog - UGR LAN Party"
>
  <Breadcrumb>
    <Fragment slot="title">Blog</Fragment>
  </Breadcrumb>

  <section class="py-10 sm:py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-12 text-gray-800 dark:text-gray-100">
        Últimas Entradas
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          publishedBlogEntries.map((blogPostEntry) => (
            <article 
              class="
                bg-white dark:bg-gray-800 
                rounded-lg shadow-lg 
                overflow-hidden 
                transform transition-all duration-300 
                hover:-translate-y-1 hover:shadow-2xl
              "
            >
              <img
                src={blogPostEntry.data.image.src}
                alt={blogPostEntry.data.image.alt}
                class="w-full h-56 object-cover"
              />
              <div class="p-5">
                <h3 class="text-xl font-semibold text-gray-800 min-h-14 dark:text-gray-100 mb-2">
                  {blogPostEntry.data.title}
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
                  {blogPostEntry.data.publishDate.toDateString()}
                </p>
                <p class="text-base text-gray-600 dark:text-gray-200">
                  {`${blogPostEntry.data.postDetails.paraOne.slice(0, 150)}...`}
                </p>

                <a  href={`/blog/${blogPostEntry.slug}`}>
                  <button class="bg-primary rounded-md mt-3 px-4 py-2 text-white font-semibold transition-all ease-in-out duration-300">
                    Ver más <span class="animation_button opacity-0 inline-block transition-all ease-in-out duration-300"> > </span>
                  </button>
                </a>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style type="text/css">
  button:hover .animation_button{
    opacity: 1;
    transform: translateX(24px);
  }

button:hover {
    padding-right: 32px;
}
</style>