---
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";

// Filtrar entradas de blog que no estén en draft y cuya fecha sea anterior a la actual
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Ordenar las entradas por fecha de publicación (más reciente primero)
publishedBlogEntries.sort((a, b) => {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout
  description="Blog de la UGR LAN Party"
  title="Blog - UGR LAN Party"
>
  <Breadcrumb>
    <Fragment slot="title">Blog</Fragment>
  </Breadcrumb>

  <!-- Sección principal del blog -->
  <section class="py-10 sm:py-16">
    <div class="container mx-auto px-4">
      <!-- Título de sección -->
      <h2 class="text-3xl font-bold text-center mb-12 text-gray-800 dark:text-gray-100">
        Últimas Entradas
      </h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          publishedBlogEntries.map((blogPostEntry) => (
            <article 
              class="
                bg-white dark:bg-gray-800 
                rounded-lg shadow-md 
                overflow-hidden 
                transform transition-all duration-300 
                hover:-translate-y-1 hover:shadow-lg
              "
            >
              <!-- Imagen de la tarjeta -->
              <img
                src={blogPostEntry.data.image.src}
                alt={blogPostEntry.data.image.alt}
                class="w-full h-48 object-cover"
              />

              <!-- Contenido de la tarjeta -->
              <div class="p-5">
                <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-100 mb-2">
                  {blogPostEntry.data.title}
                </h3>
                <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
                  {blogPostEntry.data.publishDate.toDateString()}
                </p>
                <p class="text-base text-gray-600 dark:text-gray-200">
                  {`${blogPostEntry.data.postDetails.paraOne.slice(0, 150)}...`}
                </p>

                <!-- Botón/Enlace de "Ver más" -->
                <a 
                  href={`/blog/${blogPostEntry.slug}`} 
                  class="inline-block mt-4 text-primary font-medium hover:underline dark:text-emerald-500"
                >
                  Ver más
                </a>
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
