---
import { darkStyles } from '../utils/all';
import { Competitions } from '../data/competitions-data.ts';
const allTags = [...new Set(Competitions.flatMap((game) => game.tags))];
---

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
  />
  <style>
    #schedule {
      text-align: center;
      padding: 2%;
      margin: 0; /* Eliminar cualquier margen en el contenedor principal */
    }

    /*Buscador*/
    .buscador {
      padding: 8px 12px;
      fontsize: 1rem;
      margintop: 10px;
      width: 50%;
      borderradius: 5px;
      border-radius: 10px;
      color: #333333;
    }

    .button-filter {
      padding: 8px 12px;
    }

    .fa-filter {
      position: relative;
      cursor: pointer;
    }

    .filter-option {
      position: absolute;
      left: 70%;
      zindex: 10;
      width: 10%;
      padding: 10px;
      textalign: left;
      border: none;
      fontsize: 14px;
      visibility: hidden;
    }

    .tag {
      background: white;
      border-radius: 5px;
      border: none;
      padding: 5px;
      margin-bottom: 5px;
      width: 100%;
      textalign: left;
      cursor: pointer;
      color: black;
      background-color: #e0e0e0;
    }

    .dark .tag {
      background-color: white;
    }

    .tag:hover {
      transform: scale(1.05);
    }

    .active-filters {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center; /* Centra los filtros de izquierda a derecha */
      align-items: center; /* Centra los filtros de arriba a abajo */
      flex-wrap: wrap; /* Asegura que los filtros se ajusten al espacio si es necesario */
      gap: 10px; /* Espacio entre los botones de filtros */
    }

    /* Contenedor del Horario */
    .schedule {
      display: flex;
      justify-content: space-x-2;
      width: 80vw;
      margin: 0 auto;
      padding-top: 30px;
    }

    /* Lista de Juegos */
    .games {
      font-family: 'Inter', sans-serif;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Crear 2 columnas iguales */
      gap: 12px;
      margin: 0;
      padding-left: 0;
    }

    .game {
      height: 60px;
      background-color: rgba(34, 119, 161, 0.3);
      display: flex;
      color: black;
      padding: 15px 20px;
      border-radius: 10px;
      font-size: 1.2rem;
      cursor: pointer;
      text-align: left;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      user-select: none;
      transition:
        transform 0.2s ease,
        background 0.3s;
      word-wrap: break-word; /* Fuerza el ajuste de palabras largas */
      overflow-wrap: break-word; /* Asegura que las palabras largas no se salgan */
    }

    html.dark .game {
      background-color: rgba(42, 112, 146, 0.6);
      color: white;
    }

    .game:hover {
      transform: scale(1.03); /* Aumenta el tamaño en un 8% */
    }
    .game.selected {
      background-color: #15578dfa;
      color: white;
    }

    html.dark .game.selected {
      background-color: white;
      color: #011627;
    }

    .location {
      padding-left: 20px;
      font-size: 1rem;
      opacity: 0.8;
    }

    /* Horarios */
    .times {
      display: flex;
      padding: 0 20px;
      align-items: flex-start;
      flex-direction: column;
      gap: 18px;
    }

    .tabla {
      padding-top: 50px;
    }
    /* Responsive */
    @media (max-width: 1500px) {
      .schedule {
        display: flex;
        justify-content: space-between; /* Cambié space-x-2 por space-between para que los elementos se distribuyan a los extremos */
        width: 80vw;
        margin: 0 auto;
        padding-top: 30px;
      }

      /* Ajustar las columnas de los juegos */
      .games {
        flex: 1.5;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Crear 2 columnas iguales */
        gap: 12px;
        margin: 0;
        padding-left: 0;
      }

      .game {
        width: 100%; /* Asegura que los botones ocupen el ancho completo */
        font-size: clamp(
          0.9rem,
          4vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }

      .location {
        font-size: clamp(
          0.9rem,
          4vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }

      .times {
        flex: 1;
        padding: 30px;
        width: 100%;
        text-align: center;
      }

      .time-slot {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
      }

      /* Estilos para el filtro */
      .filter-option {
        display: flex;
        flex-direction: column;
        left: 90%;
        transform: translateX(-50%);
        visibility: visible; /* Hacer visible el filtro en pantallas pequeñas */
        width: 30%;
        z-index: 20;
        padding: 10px;
        text-align: center;
        visibility: hidden;
      }

      /* Estilos del buscador */
      .buscador {
        width: 80%; /* Asegura que el buscador tenga el tamaño adecuado */
        font-size: 1rem;
      }
    }

    @media (max-width: 1150px) {
      /* Ajustar contenedor del cronograma */
      .schedule {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegura que ocupe el ancho completo */
      }

      /* Ajustar las columnas de los juegos */
      .games {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        gap: 12px;
        white-space: nowrap;
        width: 100%;
        padding-bottom: 10px;
        user-select: none;
        cursor: grab;
      }

      /* Estilo de las barras de desplazamiento */
      .games::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .games button {
        width: 300px; /* Reducir el tamaño de los botones en pantallas pequeñas */
        flex-shrink: 1;
      }

      .game {
        font-size: clamp(
          0.9rem,
          4vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }
      .location {
        font-size: clamp(
          0.9rem,
          4vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }

      .times {
        padding: 30px;
        width: 100%;
        text-align: center;
      }

      .time-slot {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
      }

      /* Estilos para el filtro */
      .filter-option {
        display: flex;
        flex-direction: column;
        left: 80%;
        transform: translateX(-50%);
        visibility: visible; /* Hacer visible el filtro en pantallas pequeñas */
        width: 20%;
        z-index: 20;
        padding: 10px;
        text-align: center;
        visibility: hidden;
      }

      /* Estilos del buscador */
      .buscador {
        width: 80%; /* Asegura que el buscador tenga el tamaño adecuado */
        font-size: 1rem;
      }
    }

    /* Para pantallas muy pequeñas */
    @media (max-width: 500px) {
      .games::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .games button {
        width: 250px; /* Reducir el tamaño de los botones en pantallas pequeñas */
        flex-shrink: 2;
      }
      .game {
        font-size: clamp(
          0.8rem,
          2vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }
      .location {
        font-size: clamp(
          0.8rem,
          2vw,
          1rem
        ); /* Reducir aún más en pantallas muy pequeñas */
      }

      .times {
        padding: 30px;
        width: 100%;
        text-align: center;
      }

      /* Estilos para el filtro */
      .filter-option {
        display: flex;
        flex-direction: column;
        left: 70%;
        transform: translateX(-50%);
        visibility: visible; /* Hacer visible el filtro en pantallas pequeñas */
        width: 40%;
        z-index: 20;
        padding: 10px;
        text-align: center;
        visibility: hidden;
      }

      /* Estilos del buscador */
      .buscador {
        width: 80%; /* Asegura que el buscador tenga el tamaño adecuado */
        font-size: 1rem;
      }
    }
  </style>
</head>
<section id="schedule" class={`${darkStyles} text-white  lg:pb-20 bg-white`}>
  <h1
    class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]"
  >
    Cronograma de Actividades
  </h1>
  <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
    No es necesario que asistas todo el día. Puedes venir para las actividades
    que más te interesen.
  </p>
  <input
    type="text"
    class="buscador bg-gray-200 dark:bg-white"
    placeholder="Buscar juego..."
    id="searchInput"
  />
  <button class="button-filter" id="filterButton">
    <i class="fa fa-filter" id="filterIcon"></i>
  </button>

  <div class="filter-option" id="filterDropdown">
    {allTags.map((tag) => <button class="tag">{tag}</button>)}
  </div>

  <div class="active-filters" id="activeFilters"></div>

  <div class="schedule">
    <div class="games" id="gameList">
      {
        Competitions.map((game) => (
          <button
            class="game"
            data-tags={game.tags}
            data-name={game.name}
            data-place={game.place}
          >
            {game.name}
            <span class="location">{game.place}</span>
          </button>
        ))
      }
    </div>
    <div class="times" id="gameInfo"></div>
  </div>

  <div class="tabla" style="margin: 0 5%">
    <img
      src="/assets/local_horarios/cronograma.svg"
      alt="imagen del cronograma"
      class="object-cover object-center w-full h-full"
    />
  </div>
</section>

<!-- <script src="../scripts/schedule.js"></script> -->
