---
import type { SponsorData } from '../data/sponsors.ts';
import SocialButton from './SocialButton.astro';

interface Props {
  sponsor: SponsorData;
}
const { sponsor } = Astro.props as Props;

const tierColor =
  sponsor.tier === 'platinum'
    ? 'text-[#1771E6]'
    : sponsor.tier === 'gold'
      ? 'text-[#FFC002]'
      : sponsor.tier === 'silver'
        ? 'text-[#9a9ba0]'
        : sponsor.tier === 'bronze'
          ? 'text-[#BB5522]'
          : '';

const shadowColor =
  sponsor.tier === 'platinum'
    ? 'hover:shadow-[0px_10px_30px_rgba(23,113,230,0.4)]'
    : sponsor.tier === 'gold'
      ? 'hover:shadow-[0px_10px_30px_rgba(255,192,2,0.4)]'
      : sponsor.tier === 'silver'
        ? 'hover:shadow-[0px_10px_30px_rgba(154,155,160,0.4)]'
        : sponsor.tier === 'bronze'
          ? 'hover:shadow-[0px_10px_30px_rgba(187,85,34,0.4)]'
          : '';
---

<section
  class={`w-[350px] h-[500px] relative mt-16 group bg-slate-100 dark:bg-gray-200 m-4 rounded-2xl transition-shadow duration-300 ${shadowColor}`}
>
  <img
    alt="sponsor-logo"
    src={sponsor.logo}
    class="w-full h-40 px-4 mb-6 object-contain mt-10"
  />
  <section class="m-4">
    <p class="font-bold text-xl text-center dark:text-primary">
      {sponsor.name}
    </p>
    <p class={`font-medium text-md text-center ${tierColor}`}>
      {sponsor.bussiness}
    </p>
    <p class="text-sm mt-2 dark:text-tertiary text-justify">
      {sponsor.description}
    </p>
  </section>
  <div
    class="w-full h-20 absolute bottom-0 flex items-center justify-center gap-8"
  >
    {sponsor.links.map((link) => <SocialButton sponsorLink={link} />)}
  </div>
</section>
